.btn-orange{
	background-color: #FF9F30 ;
	border-color: #FF9F30 ;
	border-radius: 1px !important;
	color: white;
}
.btn-orange:hover{
	background-color: #c17d2a ;
	border-color: #c17d2a ;
	border-radius: 1px !important;
	color: white;
}
.btn-orange-outline{
	background-color: #ffffff ;
	border-color: #FF9F30 ;
	border-radius: 1px !important;
	border:3px solid #FF9F30 !important;
	color: #FF9F30;
}
.btn-orange-outline:hover{
	background-color: #FF9F30 ;
	border:3px solid #ffffff !important;
	color: white;
}
.btn-dark{
	background-color: #343A40 ;
	border-radius: 1px !important;
	border:3px solid #343A40 !important;
	color: #ffffff;
}

.btn-dark-outline{
	background-color: #ffffff ;
	border-radius: 1px !important;
	border:3px solid #343A40 !important;
	color: #343A40;
}
.btn-dark-outline:hover{
	background-color: #343A40 ;
	color: white;
}
.btn-dark-outline-orange{
	background-color: #ffffff ;
	border-radius: 1px !important;
	border:3px solid #343A40 !important;
	color: #343A40;
}
.btn-dark-outline-orange:hover{
	background-color: #FF9F30 ;
	border:3px solid #ffffff !important;
	color: white;
}