/*.btn-orange{
	background-color: #FF9F30 ;
	border-color: #FF9F30 ;
	border-radius: 0 !important;
	color: white;
}
.btn-orange:hover{
	-webkit-box-shadow: 0px 0px 46px 0px rgba(255,159,48,1);
	-moz-box-shadow: 0px 0px 46px 0px rgba(255,159,48,1);
	box-shadow: 0px 0px 46px 0px rgba(255,159,48,1);
	border-radius: 0 !important;
	color: white;
}*/
.cover{
	margin-top: 70px;
	height: 100vh;
	background: linear-gradient(to top,rgba(8,75,147,.1),#222e3d), url(bg.jpg) no-repeat fixed;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;

}
.nav-item{
	font-size: 14pt;
	color: #ffffff !important;
}
.nav-item:hover{
	color: #FF9F30 !important;
}