body{
	font-family: 'Exo 2', sans-serif !important;
}
.cover{
	margin-top: 70px;
	height: 100vh;
	background: linear-gradient(to top,rgba(8,75,147,.1),#222e3d), url(bg.jpg) no-repeat fixed;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;

}
@media (min-width: 768px){
	.cover{
		height: 90vh;
}
.nav-item{
	font-size: 14pt;
	color: #ffffff !important;
}
.nav-item:hover{
	color: #FF9F30 !important;
}