body{
	font-family: 'Exo 2', sans-serif !important;
}
/*@media (max-width: 768px){
	.cover{
		height: 90vh;
}*/
@media (min-width: 576px) {
	.callback-min{
		display: none;
	}
}
@media (max-width: 576px) {
	.callback-full{
		display: none;
	}
}
.cover{
	margin-top: 10vh;
	height: 90vh;
	background: linear-gradient(to top,rgba(8,75,147,.2),rgba(0, 0, 0,.8)), url(bg.jpg) no-repeat fixed;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-color: #343A40;
	display: flex;
	flex-direction: column;
	justify-content: center;

}
.nav-item{
	font-size: 12pt;
	font-weight: medium;
	letter-spacing: 2pt;
}
.nav-item:hover{
	color: #FF9F30 !important;
}