.bg1{
	min-height: 85vh;
	background: linear-gradient(to top,rgba(138, 138, 138, 0.5),rgba(138, 138, 138, 0.4)), url(bg1.jpg) no-repeat fixed;
	background-position: center;
	background-size: cover;
	background-color: #343A40;
}