body{
        font-family: 'Montserrat', sans-serif;
      }
      a{
        color: #ab72df;
      }
      a:hover{
        color: #dcb7ff;
      }
      .color-default{
        color: #ab72df;
      }
      .bg-default{
        background: #ab72df;
      }
      .btn{
        font-size: 14px;
      }
      .btn-default{
        background-color: #ab72df;
        color: #ffffff;
        border: 1px solid #ab72df;
        border-radius: 50px;
        padding: 5px 20px;
        padding-top: 7px;
        margin-left: 5px;
        margin-right: 5px;
        -webkit-box-shadow: 0px 7px 15px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 7px 15px 0px rgba(0,0,0,0.5);
        box-shadow: 0px 7px 15px 0px rgba(0,0,0,0.5);
        transition: all 0.2s ease-in;
        text-transform: uppercase;
      }
      .btn-default:hover{
        background-color: #bc87ed;
        color: #fafafa;
        -webkit-box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.5);
        box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.5);
      }
      .btn-default-outline{
        background-color: #ffffff;
        color: #ab72df;
        border: 1px solid #ab72df;
        border-radius: 50px;
        padding: 5px 20px;
        padding-top: 7px;
        margin-left: 5px;
        margin-right: 5px;
        -webkit-box-shadow: 0px 7px 15px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 7px 15px 0px rgba(0,0,0,0.5);
        box-shadow: 0px 7px 15px 0px rgba(0,0,0,0.5);
        transition: all 0.2s ease-in;
        text-transform: uppercase;
      }
      .btn-default-outline:hover{
        background-color: #f7f7f7;
        color: #ab72df;
        -webkit-box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.5);
        box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.5);
      }
      label{
        font-size: 12px;
        text-transform: uppercase;
      }
      .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 1rem !important;
        padding-left: 1rem !important;
      }
      .bg-main{
        background: linear-gradient(to top, rgba(206, 218, 226, 0), rgba(206, 218, 226, 0)), url(../img/main-bg.png) no-repeat;
        background-size: cover;
      }
      .bg-main h1{
        font-weight: 400 !important;
        font-size: 2rem;
      }
      .bg-main p.lead{
        font-size: 1.1rem;
        line-height: 1.8;
        font-weight: 400;
      }
      .bg-2{
        background: #43b1d2;
        background: -moz-linear-gradient(left, #43b1d2 1%, #43b1d2 49%, #3cbbb4 51%, #3cbbb4 100%);
        background: -webkit-linear-gradient(left, #43b1d2 1%,#43b1d2 49%,#3cbbb4 51%,#3cbbb4 100%);
        background: linear-gradient(to right, #43b1d2 1%,#43b1d2 49%,#3cbbb4 51%,#3cbbb4 100%);
      }
      .bg-2-1{
        background-color: #43b1d2;
      }
      .bg-2-2{
        background-color: #3fb6c6;
      }
      .bg-2-3{
        background-color: #3cbbbb;
      }
      .bg-2-4{
        background-color: #3cbbb4;
      }
      #keySkills{
        text-align: center;
      }
      #keySkills h3{
        color:#ffffff;
        font-weight: 700;
        font-size: 1.25rem;
      }
      #keySkills p.lead{
        font-size: 0.8rem;
        line-height: 1.8;
        color: #ffffff;
      }
      #choose{}
      #choose h2{
        font-weight: 700;
      }
      #choose p.lead{
        font-size: 0.9rem;
        line-height: 1.75;
        font-weight: 400;
      }
      #callback{
        background: linear-gradient(to top, rgba(0, 135, 190, 0.7), rgba(0, 135, 190, 0.7)), url(../img/bg4.jpg) no-repeat center;
        background-size: cover;
      }
      ::-webkit-input-placeholder {color:rgba(255, 255, 255, 0.5) !important;}
      ::-moz-placeholder          {color:rgba(255, 255, 255, 0.5) !important;}
      :-moz-placeholder           {color:rgba(255, 255, 255, 0.5) !important;}
      :-ms-input-placeholder      {color:rgba(255, 255, 255, 0.5) !important;}
      .form-control {
        color: #ffffff;
        background-color: transparent;
        border: 1px solid #ffffff;
        border-radius: 0;
      }
      #accordionExample .btn{
        padding: 0;
        border-radius: 50px;
        background-color: #ab72df;
        color: #ffffff;
        margin: 5px 0;
      }
      #accordionExample .btn.collapsed{
        padding: 0;
        border-radius: 50px;
        background-color: #e2e2e2;
        color: #ab72df;
      }
      #accordionExample .card{
        border: none;
      }
      #accordionExample .card-header{
        background: none;
        border: none;
        padding: 5px 6px;
      }
      #accordionExample .card-body{
        font-size: 0.8rem;
      }
      #accordionExample b{
        font-weight: 500;
      }
      #quotes .lead{
        font-size: 0.9rem;
      }
      .bg-quote{
        background-image: url(../img/bg-quote.png);
        background-size: contain;
        padding: 15px 30px;
        background-repeat: no-repeat;
        border-bottom: 1px solid #bfbfbf;
      }
      .bg-gallery{
        background-image: url(../img/bg-gallery.png);
        background-size: cover;
      }
      .ekko-lightbox{display:-ms-flexbox!important;display:flex!important;-ms-flex-align:center;align-items:center;-ms-flex-pack:center;justify-content:center;padding-right:0!important}.ekko-lightbox-container{position:relative}.ekko-lightbox-container>div.ekko-lightbox-item{position:absolute;top:0;left:0;bottom:0;right:0;width:100%}.ekko-lightbox iframe{width:100%;height:100%}.ekko-lightbox-nav-overlay{z-index:1;position:absolute;top:0;left:0;width:100%;height:100%;display:-ms-flexbox;display:flex}.ekko-lightbox-nav-overlay a{-ms-flex:1;flex:1;display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;opacity:0;transition:opacity .5s;color:#fff;font-size:30px;z-index:1}.ekko-lightbox-nav-overlay a>*{-ms-flex-positive:1;flex-grow:1}.ekko-lightbox-nav-overlay a>:focus{outline:none}.ekko-lightbox-nav-overlay a span{padding:0 30px}.ekko-lightbox-nav-overlay a:last-child span{text-align:right}.ekko-lightbox-nav-overlay a:hover{text-decoration:none}.ekko-lightbox-nav-overlay a:focus{outline:none}.ekko-lightbox-nav-overlay a.disabled{cursor:default;visibility:hidden}.ekko-lightbox a:hover{opacity:1;text-decoration:none}.ekko-lightbox .modal-dialog{display:none}.ekko-lightbox .modal-footer{text-align:left}.ekko-lightbox-loader{position:absolute;top:0;left:0;bottom:0;right:0;width:100%;display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;-ms-flex-pack:center;justify-content:center;-ms-flex-align:center;align-items:center}.ekko-lightbox-loader>div{width:40px;height:40px;position:relative;text-align:center}.ekko-lightbox-loader>div>div{width:100%;height:100%;border-radius:50%;background-color:#fff;opacity:.6;position:absolute;top:0;left:0;animation:a 2s infinite ease-in-out}.ekko-lightbox-loader>div>div:last-child{animation-delay:-1s}.modal-dialog .ekko-lightbox-loader>div>div{background-color:#333}@keyframes a{0%,to{transform:scale(0);-webkit-transform:scale(0)}50%{transform:scale(1);-webkit-transform:scale(1)}}
      #footer{
        color: #a9a9a9 !important;
        background: #171717;
        font-size: 12px;
      }
      #footer a{
        color: #a9a9a9 !important;
      }
      #getInTouch .getInTouch-content{
        margin-left: 15px;
      }
      #footer ul li{
        display: flex;
        flex-wrap: nowrap;
        margin:15px 0;
      }
      #footer .list-image-footer{
        width: 40px;
      }
      .div-fa-caret{
        font-size: 14px;
        color: #ab72df;
        margin-right: 15px;
      }
      #nav1 h5{
        font-size: 11px;
        margin-bottom: 0;
      }
      .bg2-1{
        background: #f5f5f5;
      }
      .bg2{
        -webkit-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.5);
        box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.5);
        color: #ffffff;
        border-radius: 3px;
        border: 1px solid #ffffff;
      }
      .pre-article{
        border-bottom: 1px solid #cecece;
      }
      .pre-article:last-child{
        border-bottom: none;
      }
      .pre-article .lead{
        font-size: 16px;
      }
      .right-side li{
        border-bottom: 1px solid #cecece;
        font-size: 12px;
        padding: 5px 0;
      }
      .right-side li:last-child{
        border-bottom: none;
      }
      .bg-testimonial{
        background-image: url(../img/bg-quote.png);
        background-size: contain;
        padding: 15px 30px;
        background-repeat: no-repeat;
      }
      blockquote p{
        font-size: 13px;
      }
      .bg-shadow-1{
        box-shadow: 0 5px 9px 0px rgba(0, 0, 0, 0.35);
      }
      #testimonials .card{
        border-top: 10px solid #43b1d2;
      }