body {
  position: relative;
  height: 100vh;
  margin:0;
  padding: 0;
}
#particles-js{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  background: linear-gradient(to top,rgba(0, 0, 0,.7),rgba(0, 0, 0,.7)), url(space.jpg) no-repeat fixed;
  background-position: center;
  background-size: cover;
  background-color: #343A40;
  z-index: -100;
}
#page-wrapper{
  margin: auto;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  width: 100%;
  text-align: center;
  z-index: 100;
}
