body {
  position: relative;
  height: 100vh;
  margin:0;
  padding: 0;
}
#particles-js{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  background: linear-gradient(to top,rgba(0, 0, 0,.7),rgba(0, 0, 0,.7)), url(space2.jpg) no-repeat fixed;
  background-position: center;
  background-size: cover;
  background-color: #343A40;
  z-index: -100;
}
#page-wrapper{
  margin: auto;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  z-index: 100;
}
.vh100{
  height: 100vh;
}
.bg1{
  background-color: rgba(255, 255, 255, 0.7);
}
.bg2{
  background-color: rgba(0, 0, 0, 0.7);
}
.b-10{
  border: 10px solid rgba(0,0,0, 0.6);
}
.btn-custom-1{
  background-color: #ffffff ;
  border-radius: 1px !important;
  border:3px solid #343A40 !important;
  color: #343A40;
}
