.bg{
  min-height: 85vh;
  background: linear-gradient(to top,rgba(0, 0, 0,.9),rgba(0, 0, 0,.9)), url(space.jpg) no-repeat fixed;
  background-position: center;
  background-size: cover;
  background-color: #343A40;
}
#particles-js{
  position: fixed;
  z-index: -100;
}
#page-wrapper{
  position: relative;
}
